@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "DM Sans", "Public Sans", sans-serif;
  --font-header: "Plus Jakarta Sans", "Public Sans", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-olive: #b2eda1;
  --color-olive-medium: #44c486;
  --color-olive-dark: #004d42;
  --color-finc-blue: #0095ff;
  --color-darkBg: #1f2334;

}

@layer base {
  body {
    @apply font-sans text-black;
  }

  /* body a {
    @apply font-bold;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header font-bold;
  }

  .footerSocials {
    @apply rounded-full border-2 transition duration-300 border-white/30 hover:border-white/70 flex items-center justify-center hover:bg-white/20 w-12 h-12 overflow-hidden;
  }

  .footerSocials svg {
    @apply w-4 h-4 text-white transition
  }

  .footerSocials span {
    @apply h-4.5 *:duration-150 *:transition
  }
}

.container {
  /* max-width: 1200px; */
}